@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 72%, 72%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 51%, 61%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    height: 100vh;
    font-size: 62.5%;
}

h1{
    color: var(--White);
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-size: 60px;

}

h2 {
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Fraunces', serif;
    font-size: 3em;
    font-weight: 900;

}

h3 {
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Fraunces', serif;
    font-size: 24px;
    font-weight: 900;

}

h4 {
    color: var(--Grayish-blue);
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 15px;
    font-weight: 500;
}

P {
    color: var(--Very-dark-grayish-blue);
    font-family: 'Barlow', sans-serif;
    line-height: 30px;
    letter-spacing: .7px;
}

img {
    width: 100%;
    height: 100%;
}

.reverse,
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

article {
    flex-basis: 0;
    min-width: 50%;
    height: 50vh;
}

/* Header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 100px;
    background-image: url("./images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    position: relative;
}

header #logo {
    width: 15rem;
    max-height: 50%;
}

header #hamburger {
    display: none;
    position: absolute;
    right: 4em;
    top: 4em;
    width: 2em;
    height: 2em;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: var(--White);
    margin: 0px 20px;
    cursor: pointer;
}

header nav ul li a {
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 30px;
    font-size: 15px;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
    background-color: var(--White);
}

header nav ul li a:hover {
    background-color: var(--Dark-moderate-cyan);
}

/* Hero */

.hero {
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    background-image: url("./images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.hero img {
    width: 4em;
    height: auto;
}

/* Graphic Design */

#graphic-design {
    background-image: url("./images/desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    min-height: 40vh;
}

#photography {
    background-image: url("./images/desktop/image-photography.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    min-height: 40vh;
}

/* Testimonials */

.testimonials {
    width: 100%;
    flex: 1 1 auto;
    min-height: 600px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}

#clients {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

#clients article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    min-width: 25vw;
    max-width: 30vw;
    height: 400px;
    margin: 3em;
    padding: 5em;
}

#clients article img {
    border-radius: 50%;
    height: 7em;
    width: 7em;
}

#clients article p {
    text-align: center;
}

/* Media Queries*/

@media screen and (max-width: 1000px) {

    .testimonials {
        padding: 1em 2em;
    }

    #clients article {
        margin: 0em;
        padding: 1em;
    }
}

@media screen and (max-width: 768px) {
    header #hamburger {
        display: block;
    }

    header nav ul {
        display: none;
    }

    h1 {
        font-size: 5em;
    }

    .testimonials {
        padding: 1em 2em;
    }

    #clients article:nth-child(3) {
        display: none;
    }

    #clients article {
        min-width: 50%;
        margin: 0em;
        padding: 0em;
        max-width: 50%;
    }
}

@media screen and (max-width: 375px) {

    .hero {
        min-height: 50em;
        background-image: url("./images/mobile/image-header.jpg"); 
    }

    h1 {
        font-size: 3em;
    }

    header #logo {
        width: 10rem;
        max-height: 40%;
    }

    article {
        min-height: 40vh;
    }

    .reverse {
        flex-direction: column-reverse;
        height: 100%;
    }

    .row {
        flex-direction: column;
        height: 100%;
    }

    #graphic-design {
        background-image: url("./images/mobile/image-graphic-design.jpg");
    }

    #photography {
        background-image: url("./images/mobile/image-photography.jpg");
    }

    .testimonials {
        margin-top: 3em;
        flex: 1 0 120em;
        padding: 0px 0px;
    }

    #clients {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        padding: 0em;
        min-width: 100vw;
        min-height: 100%;
    }

    #clients article:nth-child(3) {
        display:flex;
    }

    #clients article {
        min-width: 50%;
        margin: 0em;
        padding: 2em;
        max-width: 100%;
    }
    
}