@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
   --clr-pink:hsl(322, 100%, 66%);
    --clr-pale-cyan: hsla(193, 100%, 96%, .8);
    --clr-dark-cyan: hsl(192, 100%, 9%);
    --clr-blue: hsl(208, 11%, 55%);

    --ff-heading: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --fw-heading: 600;
    --fw-regular: 400;
    --fw-bold: 700;

    --fs-400: clamp(1rem, (1vw + .4rem), 1.5rem);
    --fs-500: clamp(1rem, (1vw + .6rem), 1.75rem);
    --fs-600: clamp(1rem, (2vw + 1rem), 3rem);
}

.text-h {
    color: var(--clr-dark-cyan);
    text-align: center;
}

.text-p {
    color: var(--clr-blue);
    text-align: center;
}

.fs-heading {
    font-size: var(--fs-600);
    font-family: var(--ff-heading);
    font-weight: var(--fw-heading);
}

.fs-secondary-heading {
    font-size: var(--fs-400);
    font-family: var(--ff-heading);
    font-weight: var(--fw-heading);
}

.fs-400-body {
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
}

.fs-500-body {
    font-size: var(--fs-500);
    font-weight: var(--fw-regular);
}


.margin-btm {
    margin-bottom: 1em;
}

.margin-top {
    margin-top: 1em;
}

.btn {
    font-family: var(--ff-heading);
    padding: .5em 1.25em;
    border: none;
    border-radius: 1em;
    font-weight: var(--fw-regular);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.pink-btn {
    padding: .8em 3em;
    background-color: var(--clr-pink);
    border-radius: 5em;
    color: white;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    max-width: 1440px;
    height: 100vh;
    margin: auto;
}

.banner-img {
    width: 80%;
    height: auto;
}

.section-img {
    width: 65%;
    height: auto;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    align-items: center;
    background-color: var(--clr-pale-cyan);
    background-image: url("./images/bg-hero-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    width: 85vw;
    max-width: 1440px;
    display: flex;
    padding: 1.5em;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: min(10rem, 50%);
}

.header-container-text,
.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    max-width: 90%;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2em;
    padding-bottom: 15em;
    position: relative;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: .5em;
    border-radius: .5em;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
}

.community {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    width: min(90%, 60em);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.community h2 {
    text-align: center;
    font-family: var(--ff-heading);
    color: var(--clr-dark-cyan);
}

.footer {
    background-color: var(--clr-dark-cyan);
    color: #fff;
}

.footer-section-inside {
    display: flex;
    padding: 8rem 0rem;
    align-items: center;
    justify-content: space-around;
}

.footer-section-inside.logo img {
    width: 150px;
    height: 25px;
    color: white;
}

.footer-description {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.company-correct {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.company-correct p {
    font-size: .9rem;
    color: var(--Very-Pale-Cyan);
    font-weight: 300;
}

.footer-nav {
    display: flex;
    width: 28%;
    margin-top: 2rem;
    gap: .7rem 6rem;
}

.nav-one {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-one a {
    text-decoration: none;
    color: var(--Very-Pale-Cyan);
    font-size: .9rem;
}

.nav-one a:hover {
    text-decoration: underline;
}

.social-media {
    margin-top: -2.2rem;
    display: flex;
}

.social-media i {
    font-size: .9rem;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid white;
    margin-left: .5rem;
    color: white;
    cursor: pointer;
}

.social-media i:hover {
    color: hsla(322, 100%, 66%, .8);
    border: 1px solid hsla(322, 100%, 66%, .8);
}

svg path {
    fill: #fff;
}

@media screen and (max-width: 375px) {
    .footer {
        padding: 2em;
    }

    .footer-section-inside {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer-description {
        width: 90%;
    }

    .footer-nav {
        flex-direction: column;
        width: 90%;
    }

    .social-media {
        margin: auto;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1000px) {

    .text-h {
        text-align: left;
    }
    
    .text-p {
        text-align: left;
    }

    header {
        background-image: url("./images/bg-hero-desktop.svg");
    }

    .header-container {
        flex-direction: row;
    }

    .header-container-text,
    .header-container {
        align-items: flex-start;
        padding: 3em;
    }

    .section-img,
    .banner-img {
        max-width: 50%;
    }

    article {
        flex-direction: row;
    }

    article:nth-child(1),
    article:nth-child(3) {
        flex-direction: row-reverse;
    }

    .section-img,
    .individual-card div {
        padding: 10em;
    }

    .section-img {
        max-width: 40%;
    }

    footer {
        height: 40vh;
    }

}

@media screen and (min-width: 1440px) {
    nav {
        padding: 2em 8em;
    }
}


