@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
   --clr-pink:hsl(322, 100%, 66%);
    --clr-pale-cyan: hsla(193, 100%, 96%, .8);
    --clr-dark-cyan: hsl(192, 100%, 9%);
    --clr-blue: hsl(208, 11%, 55%);

    --ff-heading: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --fw-heading: 600;
    --fw-regular: 400;
    --fw-bold: 700;

    --fs-400: clamp(1rem, (2vw + .4rem), 2rem);
    --fs-500: clamp(1rem, (2vw + 1rem), 3rem);
    --fs-600: clamp(2rem, (4vw + 1rem), 5rem);
}

.text-h {
    color: var(--clr-dark-cyan);
    text-align: center;
}

.text-p {
    color: var(--clr-blue);
    text-align: center;
}

.fs-heading {
    font-size: var(--fs-500);
    font-family: var(--ff-heading);
    font-weight: var(--fw-heading);
}

.fs-secondary-heading {
    font-size: var(--fs-400);
    font-family: var(--ff-heading);
    font-weight: var(--fw-heading);
}

.fs-400-body {
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
}

.fs-500-body {
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
}

.margin-btm {
    margin-bottom: 1em;
}

.margin-top {
    margin-top: 1em;
}

.btn {
    font-family: var(--ff-heading);
    padding: .5em 1.25em;
    border: none;
    border-radius: 1em;
    font-weight: var(--fw-regular);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.pink-btn {
    padding: .8em 3em;
    background-color: var(--clr-pink);
    border-radius: 5em;
    color: white;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    max-width: 144rem;
    height: 100vh;
}

.banner-img {
    width: 80%;
    height: auto;
}

.section-img {
    width: 65%;
    height: auto;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    align-items: center;
    background-color: var(--clr-pale-cyan);
    background-image: url("./images/bg-hero-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    width: 85vw;
    display: flex;
    padding: 1.5em;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: min(10rem, 50%);
}

.header-container-text,
.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    max-width: 90%;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2em;
    padding-bottom: 15em;
    position: relative;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: .5em;
    border-radius: .5em;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
}

.community {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    width: min(90%, 60em);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.community h2 {
    text-align: center;
    font-family: var(--ff-heading);
    color: var(--clr-dark-cyan);
}

footer {
    background-color: var(--clr-dark-cyan);
    color: white;
    width: 100%;
    height: 70vh;
    padding-top: 10em;
}

@media screen and (min-width: 1000px) {

    header {
        background-image: url("./images/bg-hero-desktop.svg");
    }
    .header-container {
        flex-direction: row;
    }

    .section-img,
    .banner-img {
        max-width: 50%;
    }

    article {
        flex-direction: row;
    }

    article:nth-child(1),
    article:nth-child(3) {
        flex-direction: row-reverse;
    }

    footer {
        height: 40vh;
    }

}


