/* ### Primary

- Blue: hsl(223, 87%, 63%)

### Secondary

- Pale Blue: hsl(223, 100%, 88%)
- Light Red: hsl(354, 100%, 66%)

### Neutral

- Gray: hsl(0, 0%, 59%)
- Very Dark Blue: hsl(209, 33%, 12%) */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-top: 80px;
    align-items: center;
}

.container .logo {
    margin: 40px 0px;
}

.container h1 {
    color: hsl(0, 0%, 59%);
    font-weight: 300;
    margin-bottom: 20px;
}

.container h1 span {
    color: hsl(209, 33%, 12%);
    font-weight: 700;
}

.container h3 {
    color: hsl(209, 33%, 12%);
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 40px;
}

.form {
    margin-bottom: 50px;
}

.form .form-control {
    position: relative;
}

.form .form-control input {
    border: 1px solid hsl(0, 0%, 59%);
    font-family: inherit;
    padding: 15px 150px 15px 20px;
    border-radius: 30px;
    margin-right: 20px;
}

.form .form-control.error input {
    border: 1px solid hsl(354, 100%, 66%);
}

.form .form-control button {
    background-color: hsl(223, 87%, 63%);
    border: 1px solid hsl(223, 87%, 63%);
    color: white;
    font-family: inherit;
    font-weight: 600;
    padding:15px 60px;
    border-radius: 30px;
    cursor: pointer;
}

.form .form-control button:hover {
    background-color: hsla(223, 87%, 63%, .9);
}

.form .form-control small {
    position: absolute;
    bottom: -20px;
    left: 20px;
    font-size: 12px;
    color: hsl(354, 100%, 66%);
    visibility: hidden;
}

.form .form-control.error small {
    visibility: visible;
}

.container .dashboard {
    max-width: 50vw;
    margin-bottom: 40px;
}

.container .icons i {
    margin: 0px 15px;
    color: hsl(223, 87%, 63%);
    border: 1px solid hsl(0, 0%, 59%);
    border-radius: 50%;
    padding: 8px;
    margin-bottom: 30px;
}

.container .icons i:hover {
    background-color: hsl(223, 87%, 63%);
    color: white;
}

.container p {
    color: hsl(0, 0%, 59%);
    font-size: 14px;
    margin-bottom: 10px;
}

/*Media Query for Mobile @ 375px width*/
@media screen and (max-width: 375px) {

    .container .logo {
        height: 20px;
    }
    .container h1 {
        font-size: 24px;
    }

    .container h3 {
        font-size: 14px;
    }

    .form .form-control{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form .form-control input {
        width: 80%;
        margin-bottom: 30px;
        margin-right: 0px;
    }

    .form .form-control button {
        width: 80%;
    }

    .form .form-control small {
        left: 65px;
        bottom: 60px;
    }

    .container .dashboard {
        max-width: 80vw;
    }

    .container .icons i {
        font-size: 12px;
    }

    .container p {
        font-size: 10px;
    }
}

