/* ## Colors

### Primary

- Light Cyan: hsl(193, 38%, 86%)
- Neon Green: hsl(150, 100%, 66%)

### Neutral

- Grayish Blue: hsl(217, 19%, 38%)
- Dark Grayish Blue: hsl(217, 19%, 24%)
- Dark Blue: hsl(218, 23%, 16%) */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    background-color: hsl(218, 23%, 16%);
    font-size: 28px;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 350px;
    max-height: 250px;
    background-color: hsl(217, 19%, 24%);
    border-radius: 12px;
    padding: 25px;
    position: relative;
}

#id {
    color:hsl(150, 100%, 66%);
    font-size: 8px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 20px;
}

#advice {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.divider {
    width: 85%;
}

.container button {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    cursor: pointer;
}

.container button img {
    height: 14px;
    width: 14px;
    margin: 10px 10px 7px 10px;
}

.container button:hover {
    box-shadow: 0px 0px 10px 10px hsla(150, 100%, 66%, .2) ;
}

/* Media Query for tablet and Desktop @ 40px and above*/
@media screen and (min-width: 400px) {
    .container {
        max-width: 400px;
    }

}
